testruns
test
database
Dockerfile
launch_docker.sh

update_eplus_compare
LocalOnly


.git
.gitignore
LICENSE
LICENSE.md
VERSION
README.md
Changelog.md
Makefile
docker-compose.yml
docs
.*
COPYRIGHT.txt


# The other way round: ignore everything
# *
# Then uncommment what's stricly needed
# !model/
# !
